html {
  height: 100%;
}

body {
  height: 100%;
  touch-action: manipulation;
}

#everything {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  margin: auto;
}

#header {
  width: 350px;
  margin: auto;
}

#grid {
  width: 420px;
  margin: auto;
}

#not-found-msg {
  margin: auto;
  width: 400px;
}

.tile {
  font-size: 36px;
  margin: 7px;
  width: 65px;
  height: 65px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 0px;

  color: white;
  display: inline-block;

  box-sizing: border-box;
  vertical-align: middle;

  text-transform: uppercase;
}

.unchecked {
  background: white;
  border: 1px solid grey;
  color: black;
}
.incorrect {
  background: grey;
}

.correct {
  background: #6aaa65;
}

.wrongpos {
  background: #b59f3b;
}

#keyboard {
  padding-top: 20px;
  width: 100%;
  margin: auto;
}

.key-line {
  margin:auto;
  width: 450px;
}

.key {
  width: 40px;
  height: 70px;
  margin-left: 4px;
  margin-bottom: 5px;
  text-transform: uppercase;
  border: none;
  text-weight:400;
  background: lightgrey;
}

.correct-key{
    background: #6aaa65;
    color: white;
}

.incorrect-key{
    background: grey;
    color: white;
}

.wrongpos-key{
    background: #b59f3b;
    color: white;
}

.widekey {
  width: 61px;
  height: 70px;
  margin-left: 4px;
  margin-bottom: 5px;
  text-transform: uppercase;
  border: none;
  text-weight:400;
  background: lightgrey;
}

.invisible {
  visibility: hidden;
}

.spacer {
  width: 24px;
  visibility: hidden;
}