#everything {
  width: 350px;
  margin: auto;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
}

#not-found-msg {
  margin: auto;
  width: 280px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.tile {
  font-size: 26px;
  margin: 7px;
  width: 50px;
  height: 50px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 0px;

  color: white;
  display: inline-block;

  box-sizing: border-box;
  vertical-align: middle;

  text-transform: uppercase;
}


.unchecked {
  background: white;
  border: 1px solid grey;
  color: black;
}
.incorrect {
  background: grey;
}

.correct {
  background: #6aaa65;
}

.wrongpos {
  background: #b59f3b;
}

#keyboard {
  margin-top: 50px;
  width: 500px;
  margin: auto;

}

.key-line {
  margin:auto;
  width: 450px;
}

.key {
  width: 40px;
  height: 55px;
  margin-left: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
  border: none;
  text-weight:400;
  background: lightgrey;
}

.widekey {
  width: 61px;
  height: 55px;
  margin-left: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
  border: none;
  text-weight:400;
  background: lightgrey;
}

.invisible {
  visibility: hidden;
}

.spacer {
  width: 24px;
  visibility: hidden;
}